.header {
  height: 30em;
  text-align: center;
  background-color: #F2F2F2;
}

.header-message{
    text-align: center;
    top: 40%;
    vertical-align: middle;
    color: #686868;
}

.spacer {
  height: 4em;
}

/*Anagram Game*/
.game {
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  position: relative;

}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ul1 {
  background: #50cfd8;
  border: 3px solid silver;
  height: 22.5%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  display: flex;
  list-style-type: none;
  padding: 1%;
  cursor: move;
  color: white;
}

.ul1 li {
  font-size: 2.5rem;
  background-color: #112ebf;
  margin: 0 0.75%;
  width: 11%;
  height: 90%;
  text-align: center;
  box-shadow: 2px 2px 2px #111111;
  vertical-align: middle;
  line-height: 2.5rem;
}